@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,700;1,800&family=Lato:wght@100;300;400;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {	
	font-family: 'Nunito Sans', sans-serif;
}
a {
	text-decoration: none !important;
}
.text-center {
  text-align: center;
}
.alertTop {
	position: relative;
	z-index: 999;
	background: #111;
	color: #ffffff;
	padding: 10px 0px;
}
.navJoin a {
	margin: 0 3px;
	padding: 2px 4px;
	border-radius: 4px;
	font-size: 13px;
	color: yellow;
}
.layer {
  background-color: rgba(6,13,19,.83);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.bctopSection {
	width: 100%;
	height: 100%;
	padding: 12rem 1rem 9rem;
	background-repeat: no-repeat, no-repeat;
	background-color: #030406;
	background-size: cover;
	background-position: center, bottom;
	justify-content: center;
	align-items: center;
	color: #fff;
	position: relative;
}
.bcTopinner {
	justify-content: center;
	align-items: center;
	position: relative;
}
#input-form-wrapper {
  background: #162732;
  border: 1px solid #222;
  padding: 1.15rem;
  border-radius: 8px;
}
.bcTopinner h1 {
	font-family: 'Rajdhani', sans-serif;
  font-size: 4.15rem;
	font-weight: 600;
}
.bcTopinner h3 {
	font-weight: 800;
	font-size: 3rem;
	line-height: 1.15;
	margin-bottom: 25px;
	color: #5095fb;
}
.header-title-text {	
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
	margin-top: 20px;
  margin-bottom: 20px;
  max-width: 90%;
  color: #cfd0d0;
}
.bcTokenDetailsSection {
	background: #ECF6FB;
	padding: 6rem 0rem 6rem;
	position: relative;	
}
.bcTokenDetailsSection h2 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 600;
	font-size: 2.25rem;
}
.contriSlider {
	margin-bottom: 20px;
}
.cus-li {
  background: #E2E7F9;
  padding: 1rem 1rem 1rem 1rem;
}
.cus-li .list-group-item {
  border: none;
  padding: .25rem 1.25rem;
	margin-left: 15px;
}
.cus-li .list-group-item:nth-child(1) {
	padding-top: 15px;
}
.cus-li .cri-desc {
  color: #666;
  font-weight: 600;
  font-size: 1.2rem;
}
.cus-li .cri-value {
  color: #4A75DE;
  font-weight: 600;
  font-size: 1.2rem;
}
.bcTokenEconomySection {
	background: #fff;
	padding: 5rem 1rem 6rem;
	position: relative;
}
.bcTokenEconomySection h2 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	font-size: 3rem;
}
.bcTokenInfoSection {
	background: #fff;
	position: relative;
	border-top: 1px solid #eaeaea;
	padding: 5rem 1rem 3rem;
}
.bcTokenInfoSection h2 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	font-size: 3rem;
}
.bcLatestTaskSection {
	background: #ECF6FB;
	padding: 5rem 0rem 6rem;
	position: relative;	
}
.bcLatestTaskSection h2 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	font-size: 3rem;
}
.bcContributionSection {
	background: #fff;
	padding: 6rem 1rem 6rem;
	position: relative;
}
.bcContributionSection h2 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	font-size: 3rem;
}
.col-contribute-bg1 {
  background: #F8F0E6;
}
.col-contribute-bg2 {
  background: #F0E4FD;
}
.col-contribute-bg3 {
  background: #E7F0F0;
}
.col-contribute {
  padding: 30px;
  border-radius: 25px;
}
.col-contribute .contribute-icon {
  margin-bottom: 2rem;
}
.contribute-icon img {
  width: 48px;
}
.bcFollowSection {
	background: #ECF6FB;
	padding: 6rem 0rem 6rem;
	position: relative;	
}
.bcFollowSection h2 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	font-size: 3rem;
}
.bcAwesomeSection {
	background: #fff;
	padding: 5rem 1rem 6rem;
	position: relative;
}
.bcAwesomeSection h2 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	font-size: 3rem;
}
.single-service {
  background: #EEEDED;
  padding: 3rem;
  border-radius: 5px;
  color: #555;
}
.single-service img {
	width: 48px;
}
.bcBottomSection {
	background: #fff;
	padding: 5rem 1rem 6rem;
	position: relative;
}
.bcBottomSection h2 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	font-size: 3rem;
}
.bcBottomSection img {
	width: 48px;
	margin: 10px auto;	
}
.feat-intro {
  background: #fff;
  border-radius: 5px;
  position: relative;
  z-index: 999;
  padding: 40px 0px;
}
.shadow-1 {
  box-shadow: -4px 49px 79px 0px rgba(0, 0, 0, 0.15);
}
.no-of-stats {
  font-size: 2rem;
  font-weight: 800;
}
.sec-footer-top {
  background: #222;
  padding: 4rem 0rem 3rem;
  color: #ffffff;
	position: relative;
}
.sec-footer-top h3 {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 600;
}
.sec-footer-bottom {
  background: #111;
  padding: 2rem 0rem 1rem;
  color: #ffffff;
	position: relative;
}
.tw-capitalize {
	text-transform: capitalize;
}
.list-inline li {
	display: inline-block;
	margin-left: 5px;
}